@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Bottom sheet animation */
.bottom-sheet-enter {
  transform: translateY(100%);
}
.bottom-sheet-open {
  transform: translateY(0);
}
